---
interface Props {
    title: string;
    authors?: string;
    year?: string | number;
    journal?: string;
    volume?: string | number;
    issue?: string | number;
    pages?: string;
    doi?: string;
    url?: string;
    openaccess?: boolean;
}

const {
    title,
    authors,
    year,
    journal,
    volume,
    issue,
    pages,
    doi,
    url,
    openaccess,
} = Astro.props;
---

<div class="mb-2">
    <a href={doi ? `https://doi.org/${doi}` : url ? url : "#"}>
        {authors} ({year}). {title}.
        <em>{journal}{volume && `, ${volume}`}</em>{issue && `(${issue})`}{
            pages && `, ${pages}`
        }.
        {
            doi ? (
                <a href={`https://doi.org/${doi}`}>doi: {doi}</a>
            ) : url ? (
                <a href={url}>{url}</a>
            ) : null
        }
        {openaccess && <i class="ai ai-open-access text-orange-600" />}
    </a>
</div>
