---
import { getCollection } from "astro:content";
import { useTranslations } from "../i18n/utils";
import Publication from "../components/publications/Publication.astro";
import "../styles/global.css";
import EventTypeTag from "../components/EventTypeTag.astro";
import { getUpcomingEvents } from "../utils/events";

const mediaURLs = {
    instagram: "https://www.instagram.com/santiagomindcognition/",
    rss: "https://www.santiagomindandcognition.cl/events.xml",
};

const upcomingEvents = await getUpcomingEvents()

const publications = (await getCollection("publications"))
    .filter((publication) => publication.data.doi || publication.data.url)
    .sort((a, b) => {
        // Handle cases where year might be a string (e.g., "Forthcoming")
        const yearA = typeof a.data.year === "string" ? 9999 : a.data.year;
        const yearB = typeof b.data.year === "string" ? 9999 : b.data.year;

        // First sort by year (descending)
        if (yearA > yearB) return -1;
        if (yearA < yearB) return 1;

        // If years are equal, sort by title (ascending)
        const titleA = a.data.title || "";
        const titleB = b.data.title || "";
        return titleA.localeCompare(titleB);
    })
    .slice(0, 5); // Get 10 publications

const t = useTranslations("es");
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/56ed2b6624.js"
            crossorigin="anonymous"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
        />
        <title>Santiago Mind and Cognition - Links</title>
    </head>
    <body>
        <div class="container flex flex-col justify-around px-5 pb-10">
            <div class="text-center">
                <h1 class="text-5xl my-8">Santiago Mind and Cognition</h1>
                <div
                    class="flex justify-center text-2xl gap-x-3 mx-6 align-middle"
                >
                    <a href="/">
                        <i class="hover:text-gray-500 fa-solid fa-globe"></i>
                    </a>
                    <a href={mediaURLs.instagram}>
                        <i class="hover:text-gray-500 fa-brands fa-instagram"
                        ></i>
                    </a>
                    <a href={mediaURLs.rss}>
                        <i class="hover:text-gray-500 fa-solid fa-square-rss"
                        ></i>
                    </a>
                </div>
            </div>

            <h2 class="text-2xl text-center mt-10">Eventos</h2>
            {
                upcomingEvents.map((event) => {
                    return (
                        <div class="px-5 py-4 border rounded-xl my-2 hover:bg-gray-100 hover:border-2">
                            <a href={`/es/events/${event.id}`}>
                                <EventTypeTag>
                                    {t(event.data.eventType)}
                                </EventTypeTag>
                                <div class="">{event.data.title}.</div>

                                <div class="text-sm">
                                    {event.data.dates[0].date}
                                    {event.data.dates.length > 1 &&
                                        ` - ${event.data.dates[event.data.dates.length - 1].date}`}
                                </div>
                            </a>
                        </div>
                    );
                })
            }

            <h2 class="text-2xl text-center mt-10">Últimas publicaciones</h2>
            {
                publications.map((publication) => {
                    return (
                        <div class="px-5 py-4 border rounded-xl my-2 hover:bg-gray-100 hover:border-2">
                            <Publication data={publication.data} />
                        </div>
                    );
                })
            }
        </div>
    </body>
</html>
