---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Astronav>
  <div class="flex justify-between navbar items-start text-center">
    <MenuIcon class="lg:hidden w-6 h-6" />
    <MenuItems class="hidden lg:flex lg:gap-x-4 lg:mr-auto">
      <a class="block my-1 lg:my-0 lg:inline hover:font-bold" href={`/${lang}/`}>{t("nav.home")}</a>
      <a class="block my-1 lg:my-0 lg:inline hover:font-bold" href={`/${lang}/members`}>{t("nav.members")}</a
      >
      <a class="block my-1 lg:my-0 lg:inline hover:font-bold" href={`/${lang}/events`}>{t("nav.events")}</a>
      <!-- <a class="hover:font-bold" href={`/${lang}/wip`}>{t('nav.wip')}</a> -->
      <a class="block my-1 lg:my-0 lg:inline hover:font-bold" href={`/${lang}/reading-group`}
        >{t("nav.reading-group")}</a
      >
    </MenuItems>

    <LanguagePicker />
  </div>
</Astronav>

<style>
  .navbar {
    font-family: var(--font-headings);
    font-weight: 500;

    a {
      display: block;
    }
  }
</style>
