---
import { getCollection } from "astro:content";
import { languages } from "../../../i18n/ui";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

export async function getStaticPaths() {
    return Object.keys(languages).map((lang) => {
        return { params: { lang }, props: lang };
    });
}

const members = await getCollection("events");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("nav.events")}>
    <div class="grid grid-cols-12 items-baseline gap-y-4">
    {
        members.map((member) => {
            return (
                <div class="">{member.data.startDate}</div>
                <div class="col-span-11">
                    <a href={getRelativeLocaleUrl(lang, `events/${member.id}`)}>
                    <h2 class="text-xl">{member.data.title}</h2>
                    {member.data.author} 
                    { member.data.affiliation ? `(${member.data.affiliation}, ${t(member.data.country) ? t(member.data.country) : member.data.country})` : ""}
                    </a>
                </div>
            );
        })
    }
    </div>
</BaseLayout>
